<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>
    <h2> Welcome to my self-titled domain! </h2>
    <div>
        <p> I'll be using this to host various demos as well as some mini projects I'm working on. </p>
        <p> It's also a good chance to work with a proper VPS / hosting company as well as test some different approaches to the problem.</p>
    </div>
    <div>
        <p> A list of relevant URLs are contained below. </p>

        <h3> External Links </h3>
        <a href="https://github.com/volutus/self-domain-docker"> The entire docker image for this application </a><br>
        <a href="https://github.com/volutus/self-domain-flask"> The Flask app that drives these individual pages </a>

        <h3> Internal Links </h3>
        <a href="/chess">Chess Demo</a>
        <!-- TODO yt-shuffle port? -->
    </div>
</body>
</html>