<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>trevorcolley.com Landing Page</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    <script defer src="{{ url_for('static', filename='js/index.js')}}"></script>
</head>
<body class="dark-mode">
    <h1> Welcome to my self-titled domain! </h1>
    <div>
        <p> I'll be using this to host various demos as well as some mini projects I'm working on. </p>
        <p> It's also a good chance to work with a proper VPS / hosting company as well as test some different approaches to the problem.</p>
    </div>
    <div class="links-container">
        <h1> Relevant Links </h1>

        <a href="https://github.com/volutus/self-domain-docker"> The entire docker image for this application </a>
        <a href="https://github.com/volutus/self-domain-flask"> The Flask app that drives these individual pages </a>
        <a href="https://status.trevorcolley.com">Status Page [Uptime Kuma]</a>
        <a href="/chess">Chess Demo</a>
        <!-- TODO yt-shuffle port? -->
    </div>
</body>
</html>