<!DOCTYPE html>
<html>
    <head>
        <title>Noodle Leaderboard</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/noodles.css') }}">
        <script defer src="{{ url_for('static', filename='js/noodles.js')}}"></script>
    </head>
    <body>
        <div class="reviews">
            {% for r in reviews %}
            <div class="review">{{r.name}}</div>
            {% endfor %}
        </div>
    </body>
</html>