<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind-output.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/noodles.svg') }}" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>

<body class="bg-gray-800">
    <div id="content">{% block content %}{% endblock %}</div>
</body>

</html>