{% extends "nms/layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="flex h-screen bg-gray-800">
    <div class="w-full max-w-xs m-auto bg-gray-300 rounded p-5">

        {% include "nms/header.html" %}

        {% if error %}
        <div role="alert">
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                Error
            </div>
            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                <p>{{error}}</p>
            </div>
        </div>
        {% endif %}

        <form method="post" action="/nms/login_action">
            <div>
                <label class="block mb-2" for="username">Username</label>
                <input class="w-full p-2 mb-6 border-b-2 outline-none focus:bg-gray-300" type="text" id="username" name="username">
            </div>
            <div>
                <label class="block mb-2" for="password">Password</label>
                <input class="w-full p-2 mb-6 border-b-2 outline-none focus:bg-gray-300" type="password" id="password" name="password">
            </div>
            <div>
                <button class="w-full text-white bg-black font-bold py-2 px-4 mb-6 rounded cursor-pointer"
                    type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}